
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
  }
  
  .calculadora {
    max-width: 350px;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom right, #f0a6ca, #d4a5b2);
  }
  
  .display {
    font-size: 1.5rem;
    text-align: right;
    background-color: #fce4ec;
    color: #e91e63;
    border: 2px solid #e91e63;
    border-radius: 5px;
  }
  
  button {
    font-size: 1.2rem;
    padding: 10px 0;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    grid-template-columns: repeat(3, 1fr);
  }
  
  button:hover {
    background-color: #e91e63;
    color: white;
  }
  
  button:active {
    background-color: #c2185b;
  }
  